@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base; */

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
}

html, body, .mainCon {
    height: 100%;
}

.mainCon {
    width: 100%;
    height: 100%;
    background-image: url(images/bg-img.jpeg);
    background-size: cover;
}

.navBar {
    width: 3%;
    height: 30%;
    border-radius: 25px;
    padding: 5px 0;
    border: 1px solid rgb(121, 121, 121);
}

.navBar div {
    width: 80%;
    height: 14%;
    padding: 8px 8px;
    border-radius: 25px;
}

.navBar div:hover {
    background-color: red;
}

.mainPage {
    height: 85%;
    width: 85%;
    border-radius: 30px;
    border: 1px solid rgb(121, 121, 121);
}

.netNav {
    width: 20%;
    border-radius: 30px 0 0 30px;
    border-right: 1px solid rgb(72, 72, 72);
    padding: 3% 2% 2% 2% ;
}

.netNav > img {
    width: 60%;
}


.netPage {
    width: 80%
}

.browse {
    font-size: .7em;
}

.trays {
    position: relative;
}

.trays img{
    border-radius: 15px;
    position: relative;
}